
/*cambios generales css*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

/*VERSION MOBILE*/
body{
   background-color: antiquewhite;
   
   
}
h1{
   text-align: left;
   text-decoration: solid;
   font-size: 1.8em;
   margin-left: .7em;
}
h2{
   font-size: 1.5em;

}
h3{
   margin-left: 1.2em;
   margin-top: .6em;
   
}
main div.p p{
   width: 95%;
   text-align: justify;
   margin: 1em;
   position: relative;
   bottom: 2em;
}
div.hero img{
width: 85%;
max-height: 80%;
display: flex;
justify-content: flex-start;
display: none;

}
button.btn {
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   position: relative;
   bottom: 3em


}
button.btn a {
   color: black;
   text-decoration: solid;

}
button.boton{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   display: flex;
}
/* section.articulos{
   height: 33em;
   background-color: aqua; 
   position: fixed;
   top: 2em;

}  */
button.boton a{
   color: black;
   text-decoration: solid;

}
button.boton:hover{
   background-color:rgb(159, 127, 86);
}
img{
   width: 88%;
   margin-left:.2em ;
}
div.foto-karate img{
   position: relative;
   bottom: 2em;
   margin-left:1em ;
}


header#header div.contenedor h3{
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: end;
   text-align: justify;
}
h3{
   font-size: 1em;
   text-transform: uppercase;
   margin-bottom: .5em;
   text-align: left;
}
header h3 a{
   text-decoration: solid;
}

.buscador{
   margin-bottom: .5em;
   display: none;
}
.menu-hamburguesa a{
   color: inherit;
   text-decoration: none;
   display: block;
   padding: 10px 20px;
   max-width: 200px;
   background: none;
   font-variant: small-caps;
   text-shadow: 1px 1px black;

}
.menu-hamburguesa input[type="checkbox"], .menu-hamburguesa .bloque-1, .menu-hamburguesa .bloque-2{
   position: absolute;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   right: 0;
   top: 0;
   width: 48px;
   height: 48px;
} 
.menu-hamburguesa .bloque-1, .menu-hamburguesa .bloque-2 {
   font-size: 48px;
   pointer-events: none;
}
.menu-hamburguesa input[type="checkbox"] {
   opacity: 0;
}
.menu-hamburguesa {
   color: black;
   position: relative;
   background: none;
   min-height: 48px;
}
.menu-hamburguesa nav {
   display: none;
}
.menu-hamburguesa input:checked ~ nav {
   display: block;
}
.menu-hamburguesa input:checked ~ .bloque-1 {
   display: none;
}
.menu-hamburguesa input:not(:checked) ~ .bloque-2 {
   display: none;
}
div.contenedor-svg{
   display: flex;
   flex-direction: row;
   justify-content: end;
   

}



.redes-sociales{
   display: none;
}
header{
   padding: 1rem;
   background-color: none;
   /* border-bottom:solid black ; */
}
main{
   margin: 1em;
}

/*TODO SOBRE KARATE*/
main article.karate{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
main article.karate h3{
   text-decoration: underline;

}
a.btn{
   width: 100px;
   border: solid black;
   padding: .2em;
   margin-left: 1em;
   border-radius: 20px;
   color: black;
   background-color: rgb(254, 205, 142);
   text-decoration: solid;

}
/*====ARTICULOS=====*/

section img.articulo{
   margin: 1em;
}
section.articulos p{
   margin: 1em;
}
/* ====ASIDE===== */
aside{
   display: flex;
   flex-direction: column;
   align-items: center;

}
aside h4{
   display: block;
   padding: 1em;
}
aside a{
   display: block;
   padding: 1em;
   color: black;
   text-decoration: solid;
}
aside img{
   display: none;
}
button.bn{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   margin: 1em;
   display: flex;
}
button.bn a{
   border: none;
   background-color: transparent;
   color: black;
   text-decoration: solid;
}


section.servicios{
   display: flex;
   flex-direction: column;

}
section.servicios img{
   display: none;
}
section button.servicio{
   background-color: transparent;
   text-decoration: solid;
   padding: 1em;
   margin-bottom: 1em;
   border-radius: 20px;
   box-shadow: 1.5px 1.5px 1.5px 1.5px black;

}
section button.servicio a{
   color: black;
   text-decoration: solid;

}
section button.servicio:hover{
   background-color:rgb(208, 206, 203);   
}
section.formulario{
   width:98%;
   height: 15em;


}
section.formulario h2{
   text-align: center;
   font-size: 1em;
   padding: .5em;

}
section.formulario form fieldset {
   height: 12em;
   border: none;


}
section.formulario form fieldset legend{
   text-align: center;

}
section.formulario form fieldset ul{
   text-align: center;
}
section.formulario form fieldset ul li{
   text-align: center;
   width: 12em;
   height: 3em;

}
legend.cont-send{
   margin-left: 3em;
}
legend button.send{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   position: relative;
   bottom: 2.5em;

}
/* ====FOOTER==== */
footer.pie-pagina{
   display: flex;
   padding: 1em 1em;


}
footer.pie-pagina div.fp {
   display: flex;
   flex-direction: column ;
   justify-content: center;
   align-items: center;}
footer.pie-pagina h5{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 1em;
}
footer.pie-pagina ul.lista-pie-pagina li{
   display: flex;
   flex-direction: column;

}

/* ==== VERSION TABLETS===== */
@media (min-width:768px){
   header div.contenedor{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px;
      justify-content: space-evenly;
      grid-template-areas: 
      "titulo titulo buscador"
      "nav nav nav";
      
   }
   header h3{
      font-size: 1.5em;
      padding: 0;
      border: 0;
      margin: 0;
      grid-area: titulo;
      
   }
   
   .buscador{
      display: flex;
      justify-content: end;
      grid-area: buscador;}
   .buscador input.btn-send{
      font-size: 1em;
      padding: 2.5px;
      background-color: transparent;
      border: none;
      grid-area: buscador;
   }
   .buscador input.btn-send:hover{
      color: rgb(214, 156, 80);   
   }
   header nav{
      display: grid;
      grid-column: span 2;
      grid-area: nav;
   }
   header nav ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3em;
   }

   header nav ul li a:hover{
   color: rgb(214, 156, 80);
} 
div.contenedor-svg{
   display: flex;
   justify-content: end;
}
/* div button.redes-sociales{
   display: flex;
   align-items: center;
   justify-content: end;
   background-color: transparent;
   border: none;
   margin-left: 30px;
   padding: 5px;

   } */
h1{
   font-size: 2.5rem;
   display: flex;
   justify-content: center;
}
div.hero img{
   display: flex;
   width: 90%;
   height: 25em;
   /* margin-left: 1em; */
   margin-right: 1em;
   opacity:95%
}
main div.foto-karate{
   display: inline;
}
main div.foto-karate img{
   margin-right: 1em;
   margin-top: 1em;
   width: 30em;
   float: right;

}
div.p p{
   text-align: center;
}
section.articulos {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
section.articulos div.judo h3{
   text-decoration: underline;

}
section.articulos div.boxeo h3{
   text-decoration: underline;

}
div.grilla{
   display: grid;
   grid-template-columns: repeat(2,1fr);

}
aside#aside{
   width: 8em;
   display: grid;
   grid-template-columns: 1fr;
   /* border: solid black; */
   border-radius: 20px;


}
div.aside{
   display: flex;
   justify-content: end;
   margin:4em;
   align-items: start;
   grid-column: 2/3;
}


section.servicios{
   border: none;
   display: flex;
   border-radius: 20px;
   grid-column: 1/2;
   grid-row: 1/2;



}
section.servicios div{
   display: flex;
   flex-direction: column;
   width: 15em;
   margin: .5em;
   justify-content: end;   
}
section.servicios div.foto-servicio img{
   display: flex;
   width:25em;
   border-radius: 20px;
}
   

section.servicios div.foto-servicio button.servicio{
      display: block;
      width: 20em;
      margin: 1em;
      background-color: transparent;
      border: none;
      box-shadow: none;



   }
section.servicios div.foto-servicio button.servicio a{
   font-size: 1em;
}
section.formularios{
   display: grid;
   grid-template-rows: repeat(3 1fr);
}

   


section.formulario{
   width: 95%;
   height: 15em;
   /* border: solid black; */
   margin-left: 1em; 
   margin-right: 1em;
   text-decoration: none;


}
section.formulario h2{
   text-align: center;
   font-size: 1em;
   padding: .5em;

}
section.formulario form fieldset {
   height: 12em;


}
section.formulario form fieldset legend{
   text-align: center;

}
section.formulario form fieldset ul{
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
section.formulario form fieldset ul li{

   width: 12em;
   height: 3em;
   list-style: none;

}
legend.cont-send{
   display: flex;
   justify-content: center;
}
legend.cont-send button.send{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   /* position: relative;
   bottom: 2.5em;
   left: 25em; */

}
legend.cont-send button.send:hover{
   background-color:rgb(232, 167, 81); ;
}
footer.pie-pagina{
   border-top: solid black; 
   margin-top: 2.3em; 
   display: grid;
   grid-template-columns: 1fr 1fr;


}
footer.pie-pagina div.fp {
   display: flex;
   justify-content: end;
   text-align: left;
   width: 19em;
   padding: 1em;
   position: relative;
   left: 90px;
}
div.tags{
   width: 15em;
}
div.tags h5{
   position: relative;
   bottom: 100px;
   right: 50px;}
}

/* ====VERSION DESKTOP==== */
@media (min-width:1200px){
header div.contenedor{
      display: flex;
      justify-content: space-between;
      background-color:none;
      width: 100%;
   }
   nav ul li{
      list-style: none;
      }
      
      header nav ul li a{
         text-decoration: solid;
         color: black;
         padding: 0 .5em;
      
      
      } 
      
section#titulo-principal h1{
   font-size: 3rem;
   text-decoration: underline;
}
div.hero{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top:1em ;
   
}
div.hero img{
   width: 95%;
   margin: none;
   
}
div.hero img:hover{
   transition: 0.6s;
   transform: scale(0.9);
   opacity: 92%;
}
article.karate h3{
   font-size: 1.5em;
}

div.p{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-areas: 
   "parrafo1 parrafo2";
   /* grid-area: parrafo1; */

}
div.p p{
   text-align: justify;
   font-size: 1.2em;

}
/* 
div.cont-btn{
   box-shadow: 20px black;
} */
a.btn{
   width: 100px;
   border: solid black;
   padding: .2em;
   margin-left: 3em;
   border-radius: 20px;
   color: black;
   background-color: rgb(254, 205, 142);
   text-decoration: solid;

}
a.btn:hover{
   background-color:rgb(159, 127, 86);
}
 /* ===== ARTICULOS==== */
   section.articulos{
   margin-left: 2em
}
div.judo img{
   border-radius: 20px;
   height: 20em;
   width:40em
}
div.judo img:hover{
   transition: 0.6s;
   transform: scale(1.1);
   opacity: 92%;
   border-radius: 20px;
}
div.boxeo img{
   border-radius: 20px;
   height: 20em;
   width: 40em;
}
div.boxeo img:hover{
   transition: 0.6s;
   transform: scale(1.1);
   opacity: 92%;
   border-radius: 20px;
}
/* ====ASIDE==== */
div.grilla{
   padding-left: 2em;
} 

div aside#aside{
   width: 43.75em;
   height: 50em;
   display: flex;
   justify-content: start;
   align-items: end;

} 

aside#aside p{
   text-align: end;
   font-size: 1.4em;
   text-decoration: underline;
   margin-bottom: 1em;
}
aside#aside p:hover{
   color: rgb(176, 157, 157);
}
aside#aside div.cont-img-aside{
   display: flex;
   justify-content: end; 
   align-items: end; 
}
aside#aside div.cont-img-aside img{
display: block;
width: 50%;
border-radius: 20px;
}  
aside#aside div.cont-img-aside img:hover{
   transition: 0.6s;
   transform: scale(1.1);
   opacity: 92%;
   border-radius: 20px;
}
div.cont-img-aside-esgrima{
   display: none;
}
button.bn:hover{
   background-color:rgb(159, 127, 86);
}
button.servicio{
color: blueviolet;
font-size: 1em;}
/* /* ====SERVICIOS====  */
section.servicios img:hover{
   transition: 0.6s;
   transform: scale(1.1);
   opacity: 92%;
   border-radius: 20px;
}  

/* ====FORMULARIO====  */
section.formulario{
   /* border: 2px black solid; */
   width: 500px;
   display: flex;
   align-items: center;

} 
legend button.send{
   position: relative;
   left:15px;top:5px;

            
}
} 

/* ================================CONTACTO================================ */
/* ====MOBILE==== */


header.encabezado nav.barra-navegacion{
   list-style: none;
   display: flex;
   justify-content: space-between;

}
header.encabezado nav.barra-navegacion  ul li a{
   text-decoration: solid;
   color: black;
   padding: 0 .5em;
}
main p.section__informacion{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bolder;
}
div.contenedor-img{
   border-radius: 20px;
}
section.formulario{
   width:98%;
   height: 19em;
}
section.formulario h2{
   text-align: center;
   font-size: 1em;
   padding: .5em;

}
section.formulario form fieldset {
   height: 12em;
   border: none;


}
section.formulario form fieldset legend{
   text-align: center;

}
section.formulario form fieldset ul li{
   text-align: center;
   list-style: none;
}
section.formulario form fieldset ul li label{
   text-align: center;
   width: 12em;
   height: 3em;

}
section.formulario legend.block-btn-send{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
section.formulario legend.block-btn-send button.btn-send{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   display: flex;
}
main#main div.contenedor-img{
   display: flex;
   justify-content: center;
}
main#main img.img-contacto{
   width: 50%;
   border-radius: 20px;
}



/* ==== VERSION TABLETS===== */
@media (min-width:768px){

   header.encabezado{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px;
      justify-content: center;
      grid-template-areas: 
      "titulo titulo buscador"
      "nav nav nav";}

      header h3{
         font-size: 1.5em;
         padding: 0;
         border: 0;
         margin: 0;
         grid-area: titulo;
         
      }
      
      .buscador{
         display: flex;
         justify-content: end;
         grid-area: buscador;}
      .buscador input.btn-send{
         font-size: 1em;
         padding: 2.5px;
         background-color: transparent;
         border: none;
         grid-area: buscador;
      }
      .buscador input.btn-send:hover{
         color: rgb(214, 156, 80);   
      }
      header nav.barra-navegacion{
         display: grid;
         /* grid-column: span 2; */
         /* grid-area: nav; */
         justify-content: center;
      }
      header nav.barra-navegacion ul{
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin-top: .5em;      

      }
/* ========FORMULARIO========== */
section.formulario{
   width: 95%;
   height: 15em;
   /* border: solid black; */
   margin-left: 1em; 
   margin-right: 1em;
   text-decoration: none;


}
section.formulario h2{
   text-align: center;
   font-size: 1em;
   padding: .5em;

}
section.formulario form fieldset {
   height: 14em;



}

section.formulario form fieldset ul{
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
section.formulario form fieldset ul li{

   width: 12em;
   height: 3em;
   list-style: none;
   font-weight: bold;


}
section.formulario legend.block-btn-send{
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   bottom: 2em;
}
section.formulario legend.block-btn-send button.btn-send{
   background-color: rgb(254, 205, 142);
   border-radius: 10px;
   padding: .5em;
   margin: 1em;
   display: flex;
}
}

/* ===============VERSION DESKTOP=================== */
@media (min-width:1200px){
   header.encabezado{
      display: flex;
      justify-content: space-between;
      /* align-items: auto; */
      background-color:none;
   }

   header form.buscador{
      display: flex;
      align-items: center;
   }
   nav.barra-navegacion{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   nav.barra-navegacion ul li a{
      margin: 0 1em;
   }
   /* nav.barra-navegacion:hover{
      color: rgb(214, 156, 80);
   }  */
   main#main h2{
      font-weight: bold;
      text-decoration: underline;
   }
   main#main div img.img-contacto{
      width: 20em;
      height: 15em;
   
   }
   main#main div.contenedor-img{
      width: 25em;

   }
   main#main div img.img-contacto{
      border-radius: 20px;

   }
   main#main div img.img-info{
      border-radius: 20px;
   }
   main#main div img.img-nosotros{
      border-radius: 20px;
   }

   main#main div.contenedor-img:hover{
      opacity: 80%;
   }








}















