// //================= VARIABLES =================//
$color-body: #e2dbca;
$color-letras: black;
$color-letras-hover:rgb(153, 150, 71);
$color-botones:#e4d6b4;
$color-letras-botones:rgb(122, 114, 114);






// cambios generales de SCSS//
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 2em 2em;
    font-family: fantasy;
}
