@media(min-width:768px){
.idea-principal{
    .obj-pagina{
        font-size: 1.7em;
    }
    p{
        font-size: 1.3em;
        text-align: justify;
    }
}
.recomendaciones{
    h3{
        font-size: 1.7em;
    }
}



















}//MQ










