@media(min-width:1200px){

main{
    h4{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
}
.recomendaciones{
    h3{
        font-size: 2.3em;
    }
    .deportes{
        display: flex;
        justify-content: flex-start;
        font-size: 2em;
    }
    .cont-img-articulos{
        display: flex;
        justify-content: start;

        img{
            width:30em ;
            &:hover{
                transition: 0.6s;
                transform: scale(0.9);
                opacity: 90%;
            }
        }
    }
    
}




























}//MQ