@media (min-width:1200px){
main.idea-principal{
    img{
        width: 80%;
        margin-left: 10em;
        margin-bottom: 2em;
        margin-top: 2em;
        
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 92%;
            }
        
    }
    p{
        width: 50em;
        margin-left: 7.2em;
    }
    h4.obj-pagina{
        width: 50em;
        margin-left: 7em;
        
    }
}
section.resumen_pag{
    h5{
        text-align: center;
    }
}
section.recomendaciones{
    img{
        width: 80%;
        margin-left: 10em;
        margin-bottom: 2em;
        margin-top: 2em;
        &:hover{
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 92%;
            }
        }
    }
    h3{
        margin-left: 8.5em;
    }
    article.deportes{
        margin-left: 9.8em;
    }
    p.texto-articulo{
        margin-left: 9.8em;
    }
}























}//MQ