#main{
    h1{
        font-size: 1.4em;
        font-weight: 900;
        text-decoration: underline;
    }
    .contenedor-img{
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            border-radius: 20px;
        }
    }
    .section-informacion{
        font-size: 1.2em;
        font-weight: 900;
        text-decoration: underline;
        text-align: center;
    }
    p{
        font-size: 1em;
    }
    ul {
        list-style: none;
        li{
            font-weight: bolder;
        }
    }
    .contenedor-formulario{
        h4{
            text-decoration: underline;
            text-align: center;
        }
        form fieldset{
            text-align: center;
            background-color: #fbd67e;
            display: flex;
            flex-direction: column;
            justify-content:center ;
            align-items: center;
        
            ul{
                width: 12em;
                .mails{
                    margin-right:.5em;
                }
            
                
            }


        }
    }
}