@media(min-width: 768px){
    #header-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-tarjetas;
        & h3{
            font-size: 1.5em;
            padding: 0;
            border: 0;
            margin: 0;
            position: relative;
            // top: .4em;
            // grid-area: titulo;
        }
        & .nav-bar ul{
            display: flex;
            justify-content: space-around;
                & li{
                    display: flex;
                    & a{
                        text-decoration: solid;
                        &:hover{
                            color: $color-letras-hover;
                        }
                    }
                } 
            }
    }
main{
    .contenedor-img{
        img{
            &:hover{
                transition: 0.6s;
                transform: scale(0.9);
                opacity: 90%;
            }
        }
    }
    section{
        p{
            font-size: 1.5em;
            margin-bottom: .5em;
        }
        ul li{
            font-size: 1.5em;
            margin: 0 1em;
        }

    }
    p{
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-top: .5em;
    }

}

form{
    display: flex;
    justify-content: center;
}
























}//MQ