@media (min-width: 768px){
main{
    div.contenedor-img{
        display: flex;
        justify-content: center;
        
        & img{
            width: 35em;
            height: 20em;
            
    }        
    }
section.contenedor-formulario{
    display: block;
    text-align: center;
    margin-top: 1em;
    & ul {
    margin-left: 6em;
    }
}
}








}//MQ