@media(min-width: 1200px){
    #header-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-tarjetas;
        & h3{
            font-size: 1.5em;
            padding: 0;
            border: 0;
            margin: 0;
            position: relative;
            // top: .4em;
            // grid-area: titulo;
        }
        & .nav-bar ul{
            display: flex;
            justify-content: space-around;
                & li{
                    display: flex;
                    & a{
                        text-decoration: solid;
                        &:hover{
                            color: $color-letras-hover;
                        }
                    }
                } 
            }
    }
#main{
    h1{
        font-size: 2.5em;
    }
    section{
        .contenedor-img{
            img{
                width: 25em;
            }
        }
    p.section-informacion{
        font-size: 2em;
    }
    }
    p{
        font-size: 1.5em;
        }

        form{
            display: flex;
            justify-content: flex-start;
        }
}








}//MQ


















