@media(min-width:1200px){
#main{
    h1{
        font-size: 2em;
    }
    .contenedor-img{
        img{
            width: 40%;
            -webkit-box-shadow: -24px 26px 14px -15px #000000; 
            box-shadow: -24px 26px 14px -15px #000000;
            margin-bottom: 1em;
        }
        .section-informacion{
            text-align: center;
        }
        
    }
}

















}//MQ