//================= BOTENES =================//
// a.btn{
//     width: 100px;
//     border: solid black;
//     padding: .2em;
//     margin-left: 1em;
//     border-radius: 20px;
//     color: $color-letras;
//     background-color: $color-botones;
//     text-decoration: solid;
//     &:hover{
    //         background-color:$color-botones-hover;
    //     }
// }
// div.cont-btn a.btn{
//     width: 100px;
//     border: solid black;
//     padding: .2em;
//     margin-left: 1em;
//     border-radius: 20px;
//     color: black;
//     background-color: $color-botones;
//     text-decoration: solid;
// }

// button.bn{
//     background-color: $color-botones ; 
//     border-radius: 10px;
//     margin: 1em;
//     display: flex;
//     &:hover{
//         background-color:$color-botones-hover;
//     }
// }
// button.bn a{
//     border: none;
//     background-color: transparent;
//     color: black;
//     text-decoration: solid;
    
// }

// button.boton-servicio{
//     background-color: transparent;
//     text-decoration: solid;
//     padding: 1em;
//     margin-bottom: 1em;
//     border-radius: 20px;
//     box-shadow: 1.5px 1.5px 1.5px 1.5px black;
//     & a{
//     color: $color-letras;
//     text-decoration: solid;
//     &:hover{    
//     background-color:$color-letras-hover;   
// }
// }
// }

// button.boton{
    
//         background-color: $color-botones;
//         border-radius: 10px;
//         padding: .5em;
//         margin: 1em;
//         display: flex;
//         &:hover{
//             background-color:$color-botones-hover;
//         }
//         & a.botonA{
//             text-decoration: none;
//             background-color: none;
//         } 
// }
//=========================BOTONES=================================
div.cont-btn{
    a.btn{
        padding: .5em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        &:hover{
            background-color:$color-botones-hover;
        }
    }
}

div.cont-btn-judo{        
    .btn-judo {
        padding: .3em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        font-size: .8em;
        }
    }
    
div.cont-btn-box{
    a.btn-box{
        padding: .3em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        font-size: .8em;
        }
    }
div.cont-btn-info{
    margin-top: 1em;
    a.btn-info{
        padding: .3em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        font-size: .8em;
        }
    }
div.cont-btn-info1{
    margin-bottom: 1em;
    a.btn-info1{
        padding: .3em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        font-size: .8em;            
        }
    }
div.cont-btn-send{
    a.btn-send{
        padding: .3em;
        background-color: $color-botones;
        color: $color-letras;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        margin-left: 1em;
        font-size: .8em;
        position: relative;
        bottom: 1.5em;
            }
    }
    button.boton-servicio{
            background-color: transparent;
            text-decoration: solid;
            padding: 1em;
            margin-bottom: 1em;
            border-radius: 20px;
            box-shadow: 1.5px 1.5px 1.5px 1.5px black;
            & a{
            color: $color-letras;
            text-decoration: solid;
        }
        }
    
























