//================= FOOTER =================//

footer{

    & .contenedor-titulo-footer{
        display: flex;
        justify-content: left;
        & h4{
            color: rgb(188, 179, 179);
            text-decoration: solid;
            font-weight: 700;
            margin-top: 1em;
}
}
    & .contenedor-texto-footer{
        display: flex;
        width: 80%;
        justify-content: center;
        & p{
            text-align: center;
            margin-left: 2em;
        }
    }
        
}    
    // margin: ;









