//================= HEADER =================//



header{
    padding: 1rem;
    background-color: none;
    /* border-bottom:solid black ; */
    & h3 a{
        text-decoration: solid;
    }
}

//================= HEADER MQ 768px =================//
@media (min-width:768px){
header{
    
    & h3{
        font-size: 1.5em;
        padding: 0;
        border: 0;
        margin: 0;
        grid-area: titulo;
        
    }
    }


}//MQ