@media (min-width:400px){
main{
    h1{
        text-decoration: underline;
        font-size: 1.8em;
        margin-bottom: .5em;
    }
    p{
        margin-left:1em;
        margin-right:1em;   
    }
    
}
section.formulario-deportes{
    h2{
        font-size: 1em;
        margin-bottom: .5em;
    }
    form fieldset legend{
        text-align: center;
        margin-bottom: 1em;
    }
    ul{
        margin-bottom: 1em;
        text-align: center;
    }
}












}//MQ