@media (min-width:1200px){
.idea-principal-deportes{
    .texto-introductorio{
        font-size: 1.5em;
    }
    .articulo-deportes{
        p{
            font-size: 1.5em;
        }
        .cont-img{
            img:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 90%;
            }
        }
    }
}
















}//MQ