//================= HEADER =================//
body{

.contenedor-doc{
    position: absolute;
    min-height: 620vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

    
}
}
header{
    background-color:$color-tarjetas;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70%;
    width: 90vw;
    margin: 0 1em;
    border-bottom: yellow solid;
    nav.nav-bar ul li{
        margin-bottom: .6em;
    }
}


.idea-principal-deportes{
    background-color:$color-tarjetas;
    width: 90vw;
    padding: .5em;
    margin: 1em 1em;
    .cont-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5em;
        img{
            width: 15em;
            border-radius: 10px;
            @media(min-width:660px) and (max-width:767px){
                width: 25em;
            }
    }
}
}