.idea-principal-deportes{
    h1{
        text-decoration: underline;
    }
    .texto-introductorio{
        font-size: 1.3em;
        text-align: justify;
    }
}
.articulo-deportes{
    h3{
        text-decoration: underline;
        text-align: center;
        font-size: 1.5em;
    }
    p{
        font-size: 1.3em;
        text-align: justify;
    }
    .cont-img{
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            border-radius: 10px;
            margin-bottom: 1em;
            margin-top: .5em;
        }
    }
}
