@media (min-width:1200px){
    body{
        margin-right: 3em;
        margin-left: 3em;
        section.articulo-deportes img{
            width: 65em;
            margin-left: 5em;
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 92%;
            }
        }
    
    
        div.boton{
        button.boton-deportes {
            padding: .7em;
        }
    }
    section.formulario-deportes{
        h2{
            margin-left: 2em;
            font-size: 1.3em;
        }
        & form fieldset{
            width: 50em;
            display: flex;
            margin-left: 20em;
            ul {
                display: flex;
                align-items: center;
                text-align: center;
                & label{
                margin-left: 15em;
                }
            }
        }
    }
    legend button{
        margin-left: 51em;
    }
    
    }
    
    }//MQ