@media (min-width:768px){
    #header-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-tarjetas;
        & h3{
            font-size: 1.5em;
            padding: 0;
            border: 0;
            margin: 0;
            position: relative;
            // top: .4em;
            // grid-area: titulo;
        }
        & .nav-bar ul{
            display: flex;
            justify-content: space-around;
                & li{
                    display: flex;
                    & a{
                        text-decoration: solid;
                        &:hover{
                            color: $color-letras-hover;
                        }
                    }
                } 
            }
    }    
main{
    height: 95vh;
    h1{
        font-size: 2em;
    }
    .cont-img{
        img{
            border-radius: 0 20px;
        }
    }
    p{
        font-size: 1.5em;
        
    }
    h3{
        font-size: 1.8em;
    }
}
.formulario{
    height: 50vh;
    h2{
        margin-top: 1em;
    }
    form{
        width: 60em;
        height: 10em;
        fieldset{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}


















}//mq