@media(min-width:768px){
.idea_principal{
    h1{
        font-size: 1.8em;
    }
    .cont-img{
        margin-bottom: 1em;
    }
    p{
        font-size: 1.2em;
        text-align: justify;
    }
    h3{
        font-size: 1.8em;
    }
}















}//MQ