@media(min-width:1200px){
.idea_principal{
    h1{
        font-size: 2em;
        text-transform: capitalize;
    }
    .cont-img{
        img{
            width: 50em;
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 90%;
            }
        }
    }
    h3{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
}









}//MQ

