//================= VERSION-MOBILE =================//

//================= MAIN KARATE =================//
main{
    margin: 1em;
    & article.titulo-karate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    & h3{
    text-decoration: underline;

}
}
    
    & div.contenedor-columnas{
        width: 95%;
        text-align: justify;
        margin: 1em;
        position: relative;
        bottom: 2em;
    }
    
    
}









//================= VERSION-TABLETS =================//
@media (min-width:768px){

// ================== MAIN ===================//
main{    


    
        & div.contenedor-columnas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            & p{
                text-align: left;
            }
        }         


    }
}
@import"../components/componentes_generales/header.scss";
@import "../components/componentes_generales/navbar.scss";
@import "../components/indice/H.scss";
@import"../components/indice/hero.scss";
@import"../components/indice/foto-karate.scss";
@import"../components/indice/texto-karate.scss";
@import"../components/indice/servicios.scss";
@import"../components/indice/articulos.scss";
@import"../components/indice/aside.scss";
@import"../components/indice/formularios.scss";
@import"../components/componentes_generales/footer.scss";











