@media (min-width:768px){
    #header-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-tarjetas;
        & h3{
            font-size: 1.5em;
            padding: 0;
            border: 0;
            margin: 0;
            position: relative;
            // top: .4em;
            // grid-area: titulo;
        }
        & .nav-bar ul{
            display: flex;
            justify-content: space-around;
                & li{
                    display: flex;
                    & a{
                        text-decoration: solid;
                        &:hover{
                            color: $color-letras-hover;
                        }
                    }
                } 
            }
    }    
    

main{
    .hero{
        display: flex;
        img{
            height: 50vh;
            width: 90vw;
            margin: 0 2em;
            border-radius: 20px 0;
            opacity: 90%;
            background-color: aqua;
            &:hover{
                transition: 0.6s;
                transform: scale(0.9);
                opacity: 90%;
            }
        }
    }

    .foto-karate{
        display: flex;
        img{
            border-radius: 20px;
            height: 60vh;
            width: 90vw;
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 90%;
            }
        }
    }

section.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .contenedor-articulo-judo{
        background-color: $color-tarjetas;
        border: none;
        width: 45vw;
        height: 70vh;
            h3{
                font-size: 1.1em;
                color: black;
                margin-bottom: 1.1em;
            }
            .texto-articulo{
                font-size: .9em;
                margin-top: 1em;
                transform: translateY(-60px);
            }
            .articulo{
                display: relative;
                width:15em;
                border-radius: 20px;
                transform: translateY(-45px);
                &:hover{
                    transition: 0.6s;
                    transform: scale(1.1);
                    opacity: 90%;
                }
                
            }
        }
        .contenedor-articulo-boxeo{
            background-color: $color-tarjetas;
            border: none;
            width: 38vw;
            height: 60vh;
                h3{
                    font-size: 1.1em;
                    color: black;
                    margin-bottom: 1.1em;
                }
                .texto-articulo{
                    font-size: .9em;
                    margin-top: 1em;
                    transform: translateY(-60px);
                }
                
                .articulo{
                    display: relative;
                    width:15em;
                    border-radius: 20px;
                    transform: translateY(-35px);
                    &:hover{
                        transition: 0.6s;
                        transform: scale(1.1);
                        opacity: 90%;
                    }
                    
                }
            }
    }
}

.formulario{
    h2{
        font-size: 2em;
    }
    form{
        fieldset{
            legend{
                font-size: 1.5em;
            }
        }
    }
}









}//MQ