@media (min-width:1200px){
header{
    nav.nav-bar{
        & ul{
            // background-color: red;
            display: flex;
            justify-content: space-around;
        }
    }
}

    h1{
        font-size: 3rem;
        text-decoration: underline;
    }
main{
    & div.hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:1em ;
        & img{
            width: 95%;
            margin: none;
        &:hover{
        transition: 0.6s;
        transform: scale(0.9);
        opacity: 92%;
    }
    }
    article.titulo-karate h3{
        font-size: 1.5em;
    }

    div.contenedor-columnas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    & p{
        text-align: left;
        }
    }

}
div.foto-karate{
    display: flex;
    width: 100%;
    justify-content: center;
    & img{
        width: 40em;
    }
}
}


    /* 
    div.cont-btn{
        box-shadow: 20px black;
    } */


// ======================= ARTICULOS =======================

    section.articulos{
        margin-left: 2em;
    
    & div.contenedor-articulo-judo img{
            border-radius: 20px;
            height: 20em;
            width:40em;
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 92%;
                border-radius: 20px;
            }
    
        }

        & div.contenedor-articulo-boxeo img{
            border-radius: 20px;
            height: 20em;
            width:28em;
            &:hover{
                transition: 0.6s;
                transform: scale(1.1);
                opacity: 92%;
                border-radius: 20px;
            }
    
        }
    }
    div.contenedor-grilla{
        padding-left: 2em;


        
        & div aside#aside{
            width: 43.75em;
            height: 50em;

            // h4{
            //     margin-right: 10em;
            // }
            & p.trendings{
                text-align: end;
                font-size: 1.4em;
                text-decoration: underline;
                margin-bottom: 1em;
                // margin-right: 10em;
                &:hover{
                    color: rgb(176, 157, 157);
                }
            }
        
            & div.cont-img-aside{
                display: flex;
                justify-content: center; 
                align-items: center;
                // margin-right: 10em;
                & img{
                    display: block;
                    width: 10em;
                    border-radius: 20px;
                    &:hover{
                        transition: 0.6s;
                        transform: scale(1.1);
                        opacity: 92%;
                        border-radius: 20px;
                    }
                }
            }
        }
    } 

        section.servicios img:hover{
            transition: 0.6s;
            transform: scale(1.1);
            opacity: 92%;
            border-radius: 20px;
        }
    }
        section.formulario{
            /* border: 2px black solid; */
            width: 500px;
            display: flex;
            align-items: center;
        & legend button.send{
            position: relative;
            left:15px;top:5px;                 
        }
        }    






























