@media (min-width:1200px){
*{
    margin: 0;
}
    body{
        position: relative;

        #header-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: $color-tarjetas;
            & h3{
                font-size: 1.5em;
                padding: 0;
                border: 0;
                margin: 0;
                position: relative;
                // top: .4em;
                // grid-area: titulo;
            }
            & .nav-bar ul{
                display: flex;
                justify-content: space-around;
                    & li{
                        display: flex;
                        & a{
                            text-decoration: solid;
                            &:hover{
                                color: $color-letras-hover;
                            }
                        }
                    } 
                }
        }    
        
    .foto-karate{
        margin-bottom: 2.5em;
        background-color: transparent;
        img{
            width: 40em;
            height: 20em;
            margin-bottom: 2em;
        }
    }
    main{
        background-color: transparent;
    .contenedor-columnas{
        background-color: transparent;
        
    }

}
    section.container{
        .contenedor-articulo-judo{
            height: 90vh;

            h3{
                font-size: 2em;
            }
            .articulo{
                display: block;
                width:30em;
                transform: translateY(-50px);
            }
            .texto-articulo{
                transform: translateY(-70px);
                font-size: 1.4em;
            }
            .cont-btn-judo{
                transform: translateY(-70px);
            }
        }
    }
    section.container{
        .contenedor-articulo-boxeo{
            height: 90vh;
            h3{
                font-size: 2em;
            }
            .articulo{
                display: block;
                width:30em;
                transform: translateY(-50px);
            }
            .texto-articulo{
                transform: translateY(-70px);
                font-size: 1.3em;
            }
            
        }
    }
}

.formulario{
    margin-bottom: 1em;
    form{
        fieldset{
            ul.lista-formulario{
                width: 10em;
                display: flex;
                text-align: center;
                transform: translateX(550px);
                li label{
                    font-size: 1.5em;
                }
            }
        }
    }



}








}//MQ















