@media (min-width:768px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        & h3{
            font-size: 1.5em;
            padding: 0;
            border: 0;
            margin: 0;
            position: relative;
            top: .4em;
            // grid-area: titulo;
        }
            nav.nav-bar ul{
                & li{
                    display: flex;
                    & a{
                        text-decoration: solid;
                        &:hover{
                            color: $color-letras-hover;
                        }
                    }
                } 
            }
    }    
    













}//MQ