body{
    background-color: $color-body;
    .titulo-principal{
        text-decoration: underline;
    }
    #container{
        .hero{
            display: none;
        }
        .titulo-karate{
            font-size: 1.4em;
        }
        .foto-karate{
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
        .contenedor-columnas{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 15px;
                grid-row-gap: 0px;
                p{
                    text-align: justify;
                }
            }
            .container{
                .contenedor-articulo-judo{
                    border: 2px solid black;
                    margin-bottom:1em ;
                    h3{
                        font-size: 1.2em;
                    }
                    .cont-articulo{
                        display: flex;
                        justify-content: center;
                        .articulo{
                            width: 80%;
                            margin-bottom: .5em;
                        }
                    }
                    .texto-articulo{
                        text-align: justify;
                        font-size: .9em;
                    }
                }
            }
            .contenedor-articulo-boxeo{
                border: 2px solid black;
                margin-bottom:1em ;
                h3{
                    font-size: 1.2em;
                    text-align: center;
                }
                .cont-articulo{
                    display: flex;
                    justify-content: center;
                    .articulo{
                        width: 80%;
                        margin-bottom: .5em;
                    }
                }
                .texto-articulo{
                    text-align: justify;
                    font-size: .9em;
                }
            }
        }
    img{
        width: 2em;
    }
}