
@media (min-width:1200px){
#container{
h3{
    text-decoration: underline;
}
.foto-karate:hover{
    transition: 0.6s;
    transform: scale(1.1);
    opacity: 90%;
}
.contenedor-articulo-judo{
    h3{
        font-size: 15em;
    }
    .cont-articulo{
        .articulo{
            -webkit-box-shadow: -24px 26px 14px -15px #000000; 
            box-shadow: -24px 26px 14px -15px #000000;
        }
    
    }
    .texto-articulo{
        font-size: 15em;
        margin-top: 1em;
    }
    
}

.contenedor-articulo-boxeo{
    .cont-articulo{
        .articulo{
            -webkit-box-shadow: -24px 26px 14px -15px #000000; 
            box-shadow: -24px 26px 14px -15px #000000;
        }
    }
}
.texto-articulo{
    font-size: 1.5em;
    margin-top: 1em;
}
    }





}// MQ














