//================= ARTICULOS =================//
section{    
    & .contenedor-articulos-judo{
        & img{
            margin: 1em;}
        & p{
            margin: 1em;
        }
    }
    &.contenedor-articulos-boxeo{
        & img{
            margin: 1em;}
        & p{
            margin: 1em;
        }
    }

}
@media (min-width:768px){
    section.articulos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        & div.contenedor-articulo-judo h3{
            text-decoration: underline;
        }
        & div.contenedor-articulo-boxeo h3{
            text-decoration: underline;
        }
        }
}

@media (min-width:1200px){

section.articulos{
    margin-left: 2em;

& div.contenedor-articulo-judo img{
        border-radius: 20px;
        height: 20em;
        width:40em;
        &:hover{
            transition: 0.6s;
            transform: scale(1.1);
            opacity: 92%;
            border-radius: 20px;
        }

    }
    
& div.contendor-articulo-boxeo img{
        border-radius: 20px;
        height: 20em;
        width: 40em;
        &:hover{
            transition: 0.6s;
            transform: scale(1.1);
            opacity: 92%;
            border-radius: 20px;
        }
    }

}

}