//================= ASIDE =================//
aside{
    display:flex;
    flex-direction: column;
    align-items: center;
    & h4{
        display: block;
        padding: 1em;
    }
    & a{
        display: block;
        padding: 1em;
        color: black;
        text-decoration: solid;
    }
    & div.cont-img-aside img{
        display: none;
    }
}
//TABLETS 
@media (min-width:768px){
    div.contenedor-grilla{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        & div.contenedor-aside{
            display: flex;
            justify-content: end;
            margin:4em;
            align-items: start;
            grid-column: 2/3;
        
        
            & aside#aside{
                width: 8em;
                display: grid;
                grid-template-columns: 1fr;
                /* border: solid black; */
                border-radius: 20px;
            }
        
            & section.servicios{
                border: none;
                display: flex;
                border-radius: 20px;
                grid-column: 1/2;
                grid-row: 1/2;
            
                & div.contenedor-foto-servicio{
                    display: flex;
                    flex-direction: column;
                    width: 15em;
                    margin: .5em;
                    justify-content: end;
                    
                    & img{
                        display: flex;
                        width:25em;
                        border-radius: 20px;
                        & button.boton-servicio{       
                            display: block;
                            width: 20em;
                            margin: 1em;
                            background-color: transparent;
                            border: none;
                            box-shadow: none;
                            & a{
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1200px){
    div.contenedor-grilla{
        padding-left: 2em;

        & div aside#aside{
            width: 43.75em;
            height: 50em;
            display: flex;
            justify-content: start;
            align-items: end;
            & p.trendings{
                text-align: end;
                font-size: 1.4em;
                text-decoration: underline;
                margin-bottom: 1em;
                &:hover{
                    color: rgb(176, 157, 157);
                }
            }
        
            & div.cont-img-aside{
                display: flex;
                justify-content: end; 
                align-items: end;
                & img{
                    display: block;
                    width: 50%;
                    border-radius: 20px;
                    &:hover{
                        transition: 0.6s;
                        transform: scale(1.1);
                        opacity: 92%;
                        border-radius: 20px;
                    }
                }
            }
        } 
        
    //     div.cont-img-aside-esgrima{
    //         display: none;
    //     }
    // } 
    



}