h1{
    text-align: left;
    text-decoration: solid;
    font-size: 1.8em;
    margin-left: .7em;
}
h2{
    font-size:1.5em;
}
h3{
    margin-left: 1.2em;
    margin-top: .6em;
    font-size: 1em;
    text-transform:uppercase;
    margin-bottom: .5em;
    text-align: left;
}
//==============================================
@media (min-width:768px){
    h1{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
    }
}

//==============================================
@media (min-width:1200px){
    h1{
        font-size: 3rem;
        text-decoration: underline;
    }
}