//================= SERVICIOS =================//
section.servicios{
    display: flex;
    flex-direction: column;
    & div.contenedor-foto-servicio img{
    display: none;}


}   

@media (min-width:1200px){
section.servicios img:hover{
    transition: 0.6s;
    transform: scale(1.1);
    opacity: 92%;
    border-radius: 20px;
}  }

